/* top searchbar styles */

.search {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.search > input {
  margin-top: 20px;
  font-size: larger;
  outline: none;
  padding-bottom: 10px;
  border-color: transparent;
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}

.search > input::placeholder {
  font-size: 18px;
}

.search > input:focus {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.781);
}
